<!-- Standard mandatory EXACT page in every project working with 
layout-ejs: package that facilitates handling of all views and partials
  -->


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<%- body %>
</body>
</html>